button {
	-webkit-transition: all 0s ease-out;
	-moz-transition: all 0s ease-out;
	-o-transition: all 0s ease-out;
	-ms-transition: all 0s ease-out;
	transition: all 0s ease-out;
	height: 35px;
	display: block;
	font-family: Arial, "Helvetica", sans-serif;
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
	padding: 4px 20px 0;
	margin: 10px auto;
	left: 30px;
	position: relative;
	cursor: pointer;
	border: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	align-self: center;
    
}
#facebook{
	border-left: solid 1px #2E4476;
	background: #3B5999;

	-webkit-box-shadow: 0px 5px 0px 0px #2E4476;
	box-shadow: 0px 5px 0px 0px #2E4476;
}
#gmail{
	border-left: solid 1px #C02B21;
	background: #DE463B;
	-webkit-box-shadow: 0px 5px 0px 0px #C02B21;
	box-shadow: 0px 5px 0px 0px #C02B21;
}

body{
	margin: -12px;
	background-image: url("https://thumbs.dreamstime.com/z/chat-bubble-symbol-light-grey-background-rgb-eps-illustration-34596063.jpg");
	height:645px;
	color: #fff;
	text-align: center;
	
	
}
h1{
	font-size: 350%;
	margin-top: -8px;

}