<body>
  <h1>
    Sign in
  </h1>
  <form >
    <button id="gmail" (click)="socialSignIn('google')">Sign in with Google</button>
    <br/>
    <br/>
    <!-- <button id="facebook" (click)="socialSignIn('facebook')">Sign in with Facebook</button>  -->
  </form>
  </body>

