<header>
  <h2>CHATAPP</h2>
</header>
<label>
  <button id="logout" type="button" (click)="logout()">logout</button>
</label>
<hr/>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.js"></script>


<div id="main" style="overflow: scroll; height: xyz;" #scrollMe [scrollTop]="scrollMe.scrollHeight">
  <div class="loader" id="hideMe"></div>
  <ul *ngFor='let arr of allMessages'>
    <div [ngClass]="{'sender':arr.senderId==user,'reciver':arr.senderId!=user}">
      <p style="font-weight: bold;">{{arr.sender}}</p>{{arr.msg}}

    </div>
  </ul>
</div>

<div id="left">
  <h2>{{username}}</h2>
  <br/>
  <br/>
  <input type="text" id="search" [(ngModel)]="channel">
  <br/>
  <br/>
  <button [disabled]="!channel" (click)="search()">search</button>
  <br/>
  <br/>
  <label>
    <input type="text" id="search" [(ngModel)]="ChannelName" autocomplete="off">
    <br/>
    <br/>
    <button type="button" (click)="addChannel()" [disabled]="!ChannelName">+</button>
  </label>
  <h4>Channels</h4>
  <span (click)="getMessages()">{{found}}</span>
  <button id="join" (click)="join()">join</button>
  <br/>
  <br/>


  <p *ngFor='let myChannel of myChannel' id="channelList" (click)="getMessages(myChannel.id)"> {{"#"+myChannel.name}} </p>

  <!-- <p (click)="getMessages()">#general</p>   <br/> -->
  <!-- <input type="text" id="delete" [(ngModel)]="Channldel">
    <button (click)="delete()">delete</button> -->
</div>

<div id="right">
  <label>
    <input type="text" [(ngModel)]="message" id="textsend" (keydown.enter)="sendMessage()">
    <button type="submit" id="send" (click)="sendMessage()" [disabled]="!message">Send</button>
  </label>
</div>
