#left{
    background-color: #4D384B;
    padding: 5px;
    width: 219px;
    height: 652px;
    float: left;
    margin-top: -91px;
    margin-left: -8px;
    color: rgb(179, 178, 178);
}
#logout{
    margin-left: 1238px;

}

.sender{
    float: right;
    background-color: rgb(202, 175, 199);
    width: 80%;   
    text-align: right;
    border-radius: 2% 2% 2% 2%;
    margin-top: 2%; 
    margin-right: 18%;
    width: 542px;

}

.reciver{
    background-color: #e2e2e2;
    width: 80%;
    float:left;
    border-radius: 2% 2% 2% 2%;
    margin-top: 2%;
    margin-left: 2%; 
    width: 542px;

}
input{
    padding: 6px;
     font-size: 16px;
     border-width: 1px;
     background-color: #ffffff;
     color: #000000;
     border-style: hidden;
     border-radius: 4px;
     box-shadow: 0px 0px 3px rgba(66,66,66,.75);
     text-shadow: 1px 0px 5px rgba(66,66,66,.0);
     margin-right: 27px;

}
#search{
width: 136px;
}
input:focus {
    outline:none;
}
#right{
    float:right;
    width:80%;
    padding: 18px;
}
#main{
    
    float: right;
    height: 503px;
    overflow-y: scroll;
    width: 1111px;
        margin-top: 4px;
    z-index: 1;
    word-wrap: break-word;float: right;
    height: 498px;
    overflow-y: scroll;
    width: 968px;
    margin-top: 7px;
    z-index: 1;
    word-wrap: break-word;
}

ul{
    list-style-type: none;
    z-index: 2;
}
body{
background-color: rgb(131, 172, 166)
}

#message{
    width: 500px;
}
#textsend{
    width: 900px;
}
button {
    border-top: 1px solid #ebebeb;
    background: #e2e2e2;
    background: -o-linear-gradient(top, #f0f0f0, #e6e4e4);
    padding: 6.5px 13px;
    border-radius: 9px;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: #000000;
    font-size: 13px;
    margin-left: 154px;
    margin-top: -87px;
    font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
    }
 button:hover {
    border-top-color: #ebebeb;
    background: #e4e2e2;
    color: #0a0a0a;
    }
 button:active {
    border-top-color: #ededed;
    background: #ededed;
    }

 #send{
    margin-left: -19px;
    margin-top: -6px;
 }   

header{
    padding: 17px;
    -webkit-text-decoration-color: #fff;
    text-decoration-color: #fff;
    margin-left: 212px;
    padding-top: 0px;
    margin-bottom: -48px;
    margin-top: 39px;
}  

#channelList:hover{
        background-color: #4C9689;
        cursor: default;
    
}
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #4D384B;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin-left: 450px;
    margin-top:180px;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

#hideMe{ animation: css 0s 2s forwards; }

@keyframes css  { to { visibility: hidden; } }

#join{
    margin-top: -16px;
}
